
#getJoke{
    border: 2px dashed darkgoldenrod;
    border-radius: 10px;
    width: 580px;
    height: 1080px;
}

.srch{
    margin-left: 40%;
}

.rs{
    margin-top: 5px;
    width: 93%;
    height: auto;
}