
body{
    width: 1200px;
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    height: 220px;
}

footer{
    width: 100%;
    float: left;
    height: 70px;
}

footer >p{
    color: gray;
    padding-left: 20px;
    margin: 0;
}

footer >div{
    margin: 0 !important;
    padding-top: 10px;
    padding-left: 280px;
    margin: 120px;
    height: 42px;
}

footer > div >img{
    margin-left: 10px;
    border: 1px solid #ccc;
    width: 82px;
    height: 32px;
}

#locate{
    padding-left: 26px;
    margin-right: 400px;
    font-size: 14px;
}

.header{
    width: 100%;
    height: 26px;
    background-color:#ccc;
}

.header > a{
    font-size: 12px;
    line-height: 26px;
    height: 100%;
    display: inline-block;
    margin-left: 6px;
    color: gray;
}

.header > a:hover{
    background-color: #fff;
}

.logo{
    margin-top: 50px;
    margin-left: 36px;
    margin-right: 100px;
    float: left;
}

.set_search{
    margin-left: 30px;
    margin-top: 80px;
    width: 500px;
    height: 50px;
    float: left;
}

.input_srch{
    padding-left: 10px;
    width: 300px;
    height: 36px;
    background-color: #fff;
    border-color: red !important;
}

.input_submit{
    display: inline-block;
    width: 100px;
    height: 36px;
    color: white;
    font-size: 16px;
    border-color: red;
    background-color: red;
    position:absolute;
}

.set_search > a{
    margin-left: 10px;
}

.cart{
    margin-left: 50px;
    padding-left: 26px;
    margin-top: 78px;
    height: 36px;
    width: 110px;
}

.our_merit{
    width: 100%;
    height: 168px;
    background-color: skyblue;
}
.imgset{
    margin: 0;
    display: block;
    height: 168px;
    width: 920px;
    list-style: none;
}

.imgset > li{
    text-align: center;
    margin-right: 35px;
    margin-left: 35px;
    width: 150px;
    height: 100%;
    float: left;
    font-size: smaller;
}
.imgset > li > p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size:medium;
}

.FAQ{
    margin-left: 10px;
    width: 100%;
    height: 150px;
}

.FAQ > dl{
    color: darkgray;
    font-size: 14px;
    margin: 0;
    margin-right: 42px;
    height: 130px;
    width: 100px;
    float: left;
    
}

.sort{
    font-size: 16px;
    margin-bottom: 16px;
}

.scaner{
    float: right;
    margin-right: 200px;
}