body {
    margin-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
}

a {
    text-decoration: none;
    display: block;
}

span {
    font-size: 20px;
    font-weight: 600;
    font-family: KaiTi;
}

#paper {
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #f8f8f8; 
}

#arti1 {
    height: 150px;
    width: 30%;
    margin-left: 2%;
    margin-right: 1%;
}

#arti2 {
    height: 150px;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
}

#arti3 {
    height: 150px;
    width: 30%;
    margin-left: 1%;
    margin-right: 2%;
}

#lgray {
    text-align: center;
    line-height: 28px;
    height: 28px;
    width: 50px;
    color: black;
    background-color: #e1e1e1;
}

#lgray1 {
    text-align: center;
    line-height: 28px;
    height: 28px;
    width: 50px;
    color: white;
    background-color: #c24050;
}

#more {
    display: inline-block;
    width: 50px;
    height: 28px;
    font-size: 15px;
    font-family: yahei;
    line-height: 28px;
    text-align: center;
    background-color: #e1e1e1;
}

#dfry {
    background-color: #fafafa;
}

.hdr {
    padding-top: 40px;
    height: 59px;
    border-bottom: 1px solid #e1e1e1;
}

.title {
    float: left;
    padding-left: 40px;
}

.srch{
    padding: 7px 30px 6px 10px;
    position: relative;
    width: 200px;
    float: right;
}

.btn {
    padding-top: 2px;
    background-color: #ffff;
    position: absolute;
    right: 28%;
    top: 10px;
    border: none;
}

.nav {
    height: 48px;
    border-bottom: 1px solid #e1e1e1;
}
.nav>ul{
    padding: 0;
    margin: 0;
}

.nav>ul>li {
    list-style: none;
    float: left;
    width: 36px auto;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 14px;
    line-height: 20px;
}

.gre {
    margin-top: 10px !important;
    color: white;
    text-align: center;
    line-height: 30px !important;
    height: 30px;
    width: 55px;
    background-color: #c24050;
}

.pic {
    margin: 20px;
}

.pic>img {
    width: 100%;
}

.article {
    margin-bottom: 20px;
    height: 150px;
    padding: 0;
}

.article>li {
    height: 100%;
    list-style: none;
    float: left;
}

.article>li>p {
    font-size: 14px;
}

.more>a {
    height: 28px;
    width: 40px;
    background-color: #e1e1e1;
    text-align: center;
    line-height: 28px;
    
}

.lgray {
    float: left;
    color: black;
}

.bgi {
    margin: 20px;
    background-image: url(../img/pic.png);
    background-repeat: round;
    height: 140px;
}

.ryme {
    margin-right: 20px;
    height: 140px;
    line-height: 45px;
    float: right;
    font-size: 24px;
    color: #c24050;
}

.hunper {
    height: 660px;
    margin-left: 20px;
    margin-right: 20px;
}

.svnper {
    float: left;
    height: 660px;
    width: 70%;
}

.svnper>img { 
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
    width: 128px;
    height: 128px;
}

.svnper>div>p {
    margin: 0px;
    display: block;
    float: right;
    font-style: 15px;
    width: 80%;
}

.content {
    margin-top: 25px;
    margin-bottom: 40px;
}

.tvteper {
    margin-left: 20px;
    float: left;
    height: 660px;
    width: 28%;
}

.menu{
    padding: 0;
    margin-top: 35px;
}

.menu>li {
    list-style: none;
    border-bottom: 1px solid #e7e7e7;
}

.menu>li>a {
    width: 100px;
    height: 35px;
    font-weight: 600;
    line-height: 35px;
    color: #c24050;
    font-size: 15px;
}

.nav {
    border: none;
    margin-top: 20px;
}

.nav>a {
    font-size: 13px;
    margin-top: 25px;
    color: black;
}

.footer {
    padding: 20px;
    padding-bottom: 0;
    height: 50px;
    background-color: #efefef;
}

.footer>img {
    float: left;
    margin-right: 5px;
}

.footer>div>p {
    margin: 0;
    float: right;
}